ol{
  background-color: yellow;
  width: 60%;
}
ol:nth-child(even){
  color: green;
}
ol:nth-child(odd){
  text-transform: lowercase;
}



h1, h3{
  color: red;
}
h1 em, h3 em{
  font-size: 40px;
  border: 1px solid black;
}



li{
  font-size: 20px;
}
li em{
  font-weight: bold;
}

ul li.primeiras{
  color: blue;
}
ul li.java{
  background-color: pink;
  width: 8%;
}
li.sites:hover{
  font-weight: bold;
}

#stack:hover{
  color: orange;
}
#w3s:hover{
  color: green;
}
#developer:hover{
  color: black;
}
#devdocs:hover{
  color: yellow;
}
#trybe:hover{
  color: greenyellow;
}





